.profile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile__welcome {
  margin-top: 74px;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 1280px) {
  .profile__welcome{
    margin-top: 236px;
  }

  .profile__details {
    margin-top: 90px;
  }

  .profile__links {
    margin-top: 210px;
  }
}

.profile__details {
  margin: 120px auto 0;

  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
}

.profile__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 410px;
  margin-bottom: 17px;
  border-bottom: 1px solid #E8E8E8;
}
.profile__detail:last-child {
  border-bottom: none;
}

.profile__links {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
}

.profile__link {
  margin-top: 16px;
  text-decoration: none;
  color: #000000;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}

.profile__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__link_red {
  color: #EE3465;
}
