.about-project {
  min-height: 600px;
  margin: 0 70px;
}

.about-project__title {
  margin-top: 110px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-project__details {
  border-top: solid 1px #000000;
  padding-top: 70px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.about-project__section {

}
.about-project__section-title {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;
}

.about-project__section-text {
  margin-top: 26px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.about-project__illustration {
  margin-top: 110px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}


.about-project__illustration-item {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #A0A0A0;
}

.about-project__illustration-item:first-child {
  background: #3456F3;
  color: #FFFFFF;
}
.about-project__illustration-item:nth-child(2) {
  background: #F2F2F2;
  color: #000000;
}
