.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.navigation__desktop {
  justify-content: space-between;
}

.navigation__mobile {
  display: none;
  justify-content: flex-end;
}

.navigation__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-left: 30px;
}

.navigation__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation__button {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  border-radius: 3px;
  height: 32px;
  margin-left: 30px;
  border: 0px;
  padding: 8px 20px;
}

.navigation__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation__button_blue{
  background: #3456F3;
  color: #FFFFFF;
}

.navigation__button_profile {
  border: 2px solid rgba(170, 170, 170, .2);
  border-radius: 50px;
  background: white;
  padding: 8px 12px;
}

.navigation__button_profile:before {
  content: "";
  display: block;
  background: url(../../images/account.svg) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 14px;
  float: left;
  margin: 0 7px 0 0;
}

.navigation__mobile-menu-open {
  width: 44px;
  height: 44px;
  background-image: url("../../images/menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
}

.navigation__mobile-menu-open:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation__mobile-menu-close {
  width: 34px;
  height: 34px;
  background-image: url("../../images/cross.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #fff;
}

.navigation__mobile-menu-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation__mobile-menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  height: 100%;

  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.navigation__mobile-block {
  background-color: #fff;
  height: 100%;
  width: 70%;
}

.navigation__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 144px;

}

@media (max-width: 768px) {
  .navigation__desktop {
    display: none;
  }
  .navigation__mobile {
    display: flex;
  }

  .navigation__button_center {
    margin: 300px auto;
  }

  .navigation__link_mobile {
    margin: 20px auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
}

@media (max-width: 560px) {
  .navigation__link {
    margin-left: 14px;
  }

  .navigation__button {
    margin-left: 14px;
  }

  .navigation__link_mobile {
    margin: 20px auto;
  }

  .navigation__button_center {
    margin: 300px auto;
  }
}

@media (max-width: 460px) {
  .navigation__mobile-block {
    width: 100%;
  }
}
