.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.navigation__register {
  justify-content: flex-end;
}

.navigation__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-left: 30px;
}

.navigation__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation__button {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  border-radius: 3px;
  height: 32px;
  margin-left: 30px;
  border: 0px;
  padding: 8px 20px;
}

.navigation__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation__button_blue{
  background: #3456F3;
  color: #FFFFFF;
}

.navigation__button_profile {
  border: 2px solid rgba(170, 170, 170, .2);
  border-radius: 50px;
  background: white;
  padding: 8px 12px;
}
.navigation__button_profile:before {
  content: "";
  display: block;
  background: url(../../images/account.svg) no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 14px;
  float: left;
  margin: 0 7px 0 0;
}

@media (max-width: 1280px) {
  /*.navigation {*/
  /*  justify-content: flex-end;*/
  /*}*/
}

@media (max-width: 560px) {
  .navigation__link {
    margin-left: 14px;
  }

  .navigation__button {
    margin-left: 14px;
  }
}
