.techs{
  padding: 100px 70px;
  background: #F5F5F5;
}

.techs_container {
  margin: 0px auto;
  max-width: 1120px;
}

.techs__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.techs__details {
  border-top: solid 1px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__title-about {
  margin: 90px auto 20px;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
}

.techs__text {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  max-width: 460px;
}

.techs__list {
  display: flex;
  list-style: none;
  margin-top: 100px;
  flex-wrap: wrap;
  padding: 0px;
}

.techs__list-item {
  background: #E8E8E8;
  border-radius: 10px;
  min-width: 90px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

@media (max-width: 1280px) {
  .techs {
    margin: 0;
    padding: 0;
  }
  .techs_container {
    padding: 90px 50px;
  }
  .techs_container {
    margin: 0px auto;
    max-width: 1120px;
  }


  .techs__list-item {
    min-width: 84px;
    min-height: 57px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.04em;
    text-align: center;
  }

}

@media (max-width: 560px) {
  .techs {
    background: #FAFAFA;
  }

  .techs_container {
    padding: 70px 18px 0;
  }


  .techs__title {
    font-size: 18px;
    line-height: 22px;
    margin: 50px auto 28px;
  }

  .techs__title-about {
    font-size: 30px;
    line-height: 36px;
  }
  .techs__text {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0em;
  }

  .techs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
}