.search-form {
  margin: 80px auto 0;
  padding-bottom: 40px;
  border-bottom: #E8E8E8 solid 1px;
  max-width: 1120px;
}
.search-form__bar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.search-form__input {
  height: 30px;
  background: #F4F4F4;
  border-radius: 4px;
  border: none;
  padding: 15px 22px;
  width: 100%;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.search-form__submit {
  background: #3456F3;
  border-radius: 40px;
  height: 44px;
  min-width: 70px;
  border: none;
  color: #FFFFFF;
  margin-left: 10px;
  padding: 13px 5px;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}

.search-form__checkbox {
  margin: 30px auto;
}

@media (max-width: 1280px) {
  .search-form {
    margin: 80px 30px 0;
  }
}

@media (max-width: 560px) {
  .search-form {
    margin: 80px 14px 0;
  }
  
  .search-form__input{
    padding: 10px 22px;
  }
}
