.about-me {
  min-height: 600px;
  margin: 0 70px;
}

.about-me__title {
  margin-top: 110px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-me__details {
  border-top: solid 1px #000000;
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me__data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-me__name {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
}

.about-me__short {
  margin: 18px 0 0;
  padding: 0;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.about-me__text {
  margin-top: 26px;
  margin-right: 50px;
  padding: 0;
  max-width: 600px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.about-me__links {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.about-me__link {
  margin-right: 20px;
  text-decoration: none;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.about-me__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.about-me__photo {
  object-fit: cover;
  object-position: top center;
  height: 327px;
  width: 270px;
  border-radius: 10px;
}

.about-me__portfolio-title {
  margin: 100px 0 0;
  color: #A0A0A0;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.about-me__portfolio-items{
  list-style: none;
  margin: 30px 0 0;
  padding: 0;
}


.about-me__portfolio-item {
  border-top: solid 1px #E8E8E8;
  padding: 20px 0 10px;
}

.about-me__portfolio-item:first-child {
  border: none;
}


.about-me__portfolio-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
}

.about-me__portfolio-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .about-me {
    margin: 0 50px;
  }
  .about-me__portfolio-link {
    font-size: 28px;
  }
}

@media (max-width: 560px) {
  .about-me {
    margin: 14px 14px;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    margin: 50px auto 28px;
  }

  .about-me__details {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-me__photo {
    width: 292px;
    height: 352px;
  }
  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    margin-top: 40px;
  }
  .about-me__short {
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 20px;
  }
  .about-me__links {
    margin-top: 40px;
  }
  .about-me__portfolio-title {
    margin-top: 70px;
    font-size: 14px;
  }
  .about-me__portfolio-link {
    font-size: 18px;
    line-height: 28px;
  }
}
